uvicorn
absl-py
annotated-types
anyio
astunparse
beautifulsoup4
certifi
charset-normalizer
fastapi
feedparser
flatbuffers
frozendict
gast
google-pasta
grpcio
h5py
idna
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
multitasking
namex
numpy
opt_einsum
optree
packaging
pandas
peewee
platformdirs
protobuf
pydantic
pydantic_core
Pygments
python-dateutil
pytz
requests
rich
setuptools
sgmllib3k
six
sniffio
soupsieve
starlette
tensorboard
tensorboard-data-server
tensorflow
termcolor
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
yfinance
safetensors
regex 
pyyaml
fsspec
filelock
huggingface-hub
tokenizers
transformers